
/.idea/

/factorie_nlp/target/


/factorie_nlp_models/src/main/resources/models/lexicon/
/factorie_nlp_models/src/main/resources/models/ner/
/factorie_nlp_models/src/main/resources/models/parse/
/factorie_nlp_models/src/main/resources/models/pos/
/factorie_nlp_models/src/main/resources/models/wordnet/
/factorie_nlp_models/target/

/nlytx_nlp_api/target/

/project/project/
/project/target/
/target/
/nlytx_nlp_api/src/main/scala/io/nlytx/factorie_nlp/experiments.sc
/nlytx_nlp_api/src/main/scala/cc.zip
/factorie_nlp_models/src/main/resources/models.zip
